:root {
  --amazon-gold: #d38016;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #7a7a7a;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #201a1a;
  border-radius: 10px;
}

body {
  /* background-color: #1b1818; */
  background-color: white;
  padding: 16px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  box-sizing: border-box;
  box-sizing: border-box;

  @media (min-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

a {
  color: #00B7FF;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.error {
  background-color: var(--amazon-gold);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 2rem;
  border-radius: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  line-height: 2.5rem;
  font-weight: 700;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.logo {
  font-size: 2rem;
  margin: 0;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

.subLogo {
  margin: 0;
  font-size: 1rem;
  color: var(--amazon-gold);
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.target {
  margin-inline: auto;
  width: 100%;
  max-width: 800px;
  background-color: white;
  color: black;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: 12px;
  flex-wrap: wrap;
}


.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-x: scroll;
  padding: 8px;
}

.resCol {
  display: flex;
  align-items: center;
}

.property,
.h-position {
  min-width: 70px;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.resCol>.val {
  max-width: auto;
  border-radius: 8px;
  padding-inline: 4px;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.position {
  display: flex;
  gap: 24px;
  justify-content: center;
  min-width: 100%;
  flex-wrap: wrap;
}

.pos-item {
  display: flex;
  flex-direction: column;
  width: 160px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  color: white;
  font-size: 28px;
}

.pos-item>.val {
  flex-grow: 2;
  display: grid;
  place-items: center;
  font-size: 80px;
}


.pages {
  display: flex;
  position: relative;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;

  @media (min-width: 768px) {
    padding: 2rem;
  }
}

.page {
  display: flex;
  gap: 8px;
  width: 100%;
  overflow-x: scroll;
  height: 500px;
  align-items: center;

  padding-right: 50px;
  justify-content: space-between;
}

.prodCard {
  min-width: 20px;
  max-width: 300px;
  overflow: hidden;
  height: 370px;
  transition: all 300ms;
  text-decoration: unset;
  position: relative;
}

.prodCard:hover {
  min-width: 300px;
  /* scale: 1.1; */
  z-index: 10;
}

.prodTitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.targetProd {
  background-color: var(--amazon-gold);
  color: white;
}

.tag {
  border-radius: 12px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  padding: 8px;
}

.targetTag {
  background-color: var(--amazon-gold);
}

.form {
  display: flex;
  padding: 1rem;
  justify-content: center;
  width: 100%;
  height: min-content;


  @media (min-width: 768px) {
    padding: 2rem;
  }
}

.label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 700;
  height: 40px;
}

.input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  color: #000000;
  max-width: 250px;
}
.link{
  display: block;
  text-align: center; 
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bs-secondary);
  text-decoration: none;
  box-sizing: border-box !important;
  color: white;
  white-space: no-wrap;
  overflow: hidden;
  height: 24px;
}
.search {
  /* disabled: bg-transparent disabled:border disabled:border-[var(--amazon-gold)] disabled:cursor-not-allowed */
  display: grid;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  place-items: center;
  border-radius: 0.75rem;
  color: #ffffff;
  background-color: var(--amazon-gold);
  width: 80px;
  border: none;
}

.search:hover {
  opacity: 0.9;
}

.search:disabled {
  cursor: not-allowed;
}